@media (min-width:600px){
    .header-nav{
        line-height: 1.5rem;
    }

    .nav-menu{
        width: 100%;
    }

    .nav-item{
        flex: 1 0 10%;
    }
}

@media (min-width:900px){
    .header-nav{
        justify-content: space-between;
        padding: 1rem 0;
        margin: 1rem auto 2rem auto;
        line-height: 1rem;
    }
    .nav-item{
        white-space: nowrap;
    }
    .nav-menu{
        width: auto;

    }
    .logo{
        margin: 0 0 0 0.3rem;
    }
}